.loading-screen {
  height: 100vh;
  width: 100wh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loading-screen p {
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 24px;
}

.loading-animation {
  position: relative;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  box-sizing: content-box;
}

.loading-animation::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translateY(-50%);
}

.loading-animation::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white,
    inset 0 0 0 12px black;
}
